<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67907848775-8434vmvq2fimoc5olsnh87gsqml7cbt9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67907848775-8434vmvq2fimoc5olsnh87gsqml7cbt9</string>
	<key>API_KEY</key>
	<string>AIzaSyBq9s58zWULL8Zm4n_okIaTt9hOJoNHE3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>67907848775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theorg.hero</string>
	<key>PROJECT_ID</key>
	<string>hero-69f7c</string>
	<key>STORAGE_BUCKET</key>
	<string>hero-69f7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67907848775:ios:9aa378ee9badff16af3f62</string>
	<key>DATABASE_URL</key>
	<string>https://hero-69f7c.firebaseio.com</string>
</dict>
</plist>